.cardContainer{
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    text-align: center;
}

.itemCard{
    height: 400px; width: 300px;
    margin: 30px; padding: 10px;

    display: flex; flex-direction: column;
    justify-content: space-evenly; align-items: center;

    background-color: rgb(127, 116, 134);
    border: 1px solid black; border-radius: 10px;
    box-shadow: rgb(87, 84, 84) 10px 10px 10px;
}

.itemCardTitle{
    margin: 0;
    font-size: 20px; font-style: italic;
    letter-spacing: 2px;
}

.itemCardPrice{
    margin: 0;
    font-size: 18px; 
}

.itemCardButton{
    height: 40px; width: 175px;

    display: inline-block;

    font-size: 16px; color: black;
    text-align: center; text-decoration: none;
    
    border: 2px solid darkgray; border-radius: 8%;
    background-color: #e7e7e7; 

    transition-delay: 0s;
    transition-duration: 0.5s;
} .itemCardButton:hover{
    color: white; font-weight: bold;
    background-color: black;
    opacity: 50%;
}

.itemImage{
    height: 225px; width: 225px;
    border: 10px double rgb(255, 255, 255); border-radius: 50%;
}