.cardContainer{
    height: 100%; width: 100%;
    display: flex; flex-direction: row; flex-wrap: wrap;
    justify-content: space-around; align-items: center;
}

.itemCard{
    height: 350px; width: 250px;
    margin-top: 30px; margin-bottom: 30px;

    display: flex; flex-direction: column;
    justify-content: space-evenly; align-items: center;

    background-color: #ece5e4;
    border: 2px solid rgb(83, 81, 81); border-radius: 5px;

    transition-duration: 0.2s;
} .itemCard h1{
    font-size: 18px;
}

.itemCard img{
    height: auto; width: 200px;
    filter: grayscale(1);
    transition-duration: 0.5s;
} .itemCard:hover{
    height: 360px; width: 260px;
    box-shadow: #ffffff 1px 1px 20px 5px;
    border: 5px double #b6b0af;
} .itemCard:hover img{
    filter: grayscale(0);
}

.itemCardTitle{
    margin: 0;
    font-size: 25px;
}

.itemCardPrice{
    margin: 0;
    font-size: 18px; 
}

.itemCardButton{
    height: 40px; width: 175px;

    display: inline-block;

    font-size: 16px; color: black;
    text-align: center; text-decoration: none;
    
    border: 2px solid darkgray; border-radius: 8%;
    background-color: #e7e7e7; 

    transition-duration: 0.5s;
} .itemCardButton:hover{
    color: white; font-weight: bold;
    background-color: black;
    opacity: 0.5;
}

.itemImage{
    height: 225px; width: 225px;
    border: 10px double rgb(255, 255, 255); border-radius: 50%;
}