table{
    height: auto; width: auto;
    margin: auto; padding: 50px;
    text-align: center;
}

th:nth-child(1){
    width: 275px;
}
th:nth-child(2){
    width: 500px;
}
th:nth-child(3){
    width: 175px;
}
th:nth-child(4){
    width: 175px;
}

.cartFooter{
    display: flex; flex-direction: row;
    justify-content: space-evenly;
}

